### yarn ###
/node_modules

### System ###
*.DS_Store
*Thumbs.db
/yarn-error.log

### Build ###
web/assets/css
web/assets/js
web/assets/images
/yarn.lock
/styleguide

### Dev ###
config.codekit
*.sublime-project
*.sublime-workspace
.idea/