### yarn ###
/node_modules

### System ###
*.DS_Store
*Thumbs.db
/yarn-error.log

### Build ###
dist/assets/css
dist/assets/js
dist/assets/images
/yarn.lock
dist/styleguide

### Dev ###
config.codekit
*.sublime-project
*.sublime-workspace
.idea/